div {
    width: 500px;
    background-color: blueviolet;  
    background: color #8a2be2;
    background-color: rgb(138, 43, 226);  
    margin: auto;
    padding: 20px;
}
.assign-1-shape-1{
    background-color: blueviolet;  
    background: color #8a2be2;
    background-color: rgb(138, 43, 226);
    margin-bottom: 20px;
}

.assign-1-shape-2{
    background-color: rgb(138, 43, 226, 50%);
    margin-bottom: 20px;
}

.assign-1-shape-3{
    background-color: rgb(138, 43, 226, 10%);
}
