.one,
.two,
.three{
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
}
.one{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-style:italic;
}
.two{
  font-family:"Cairo", sans-serif;
  font-weight: 700;
}
.three{
  font-family:"Jomhuria", serif;
  font-weight: 400;
}
