<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CSS</title>
    <link rel="stylesheet" href="css/master.css" />
    <style>
      div {
        padding: 20px;
        background-color: #fff;
        text-align: center;
        font-size: 30px;
        width: 600px;
        margin: auto;
        border: 4px solid red;
      }
      div p {
        background-color: #dcdcdcc3;
        border: inherit;
        padding: inherit;
        margin: inherit;
      }
    </style>
  </head>
  <body>
    <div>
      <p>This Is Paragraph</p>
    </div>
  </body>
</html>
