div {
    display: block;
   background-color: #EEE;
   margin: 30px;
   padding: 20px;
  
   
}
.element-1{
   border-left:5px solid red;
}

.element-2{
    visibility: hidden;
}

.element-3{
    border-left:5px solid green;
}
