div {
    display: inline-block; 
   border-width: 5px ;
   margin: 30px;
   padding: 20px;
   background-color: #EEE;
   outline-width: 5px;
   outline-color: black;
   
}
.shape-1{
   border-color: red;
   border-style: solid;
}

.shape-2{
    border-color: blue green;
   border-style: solid;
}

.shape-3{
    border-color: red green blue yellow;
    border-style: dashed;
}
