p{
  background-color: #eee;
  margin: 40px auto;
  width: 400px;
  height: 50px;
  padding: 15px;
  border-right: 5px solid red;
  font-size: 20px;
  position: relative;
  counter-increment: members-count;
  line-height: 2;
}
p::before{
  content: counter(members-count);
  background-color: red;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  left: -80px;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
  

}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSS</title>
        <link rel="stylesheet" href="css/master.css">
        <style>
            p{
              background-color: #eee;
              margin: 40px auto;
              width: 400px;
              height: 50px;
              padding: 15px;
              border-right: 5px solid red;
              font-size: 20px;
              position: relative;
              counter-increment: members-count;
              line-height: 2;
            }
            p::before{
              content: counter(members-count);
              background-color: red;
              color: white;
              width: 50px;
              height: 50px;
              text-align: center;
              position: absolute;
              top: 0;
              left: -80px;
              font-size: 25px;
              font-weight: bold;
              padding: 15px;
            }
        </style>

    </head>
    <body>
        <p>This Is Very Very Long Product Title</p>
        <p>This Is Very Very Long Product Title</p>
        <p>This Is Very Very Long Product Title</p>
        <p>This Is Very Very Long Product Title</p>
        <p>This Is Very Very Long Product Title</p>
        <p>This Is Very Very Long Product Title</p>
    </body>
        
           
</html>
