div {
  width: 400px;
  height: 115px;
  margin:  50px auto;
  padding: 20px;
  text-align: center;
  position: relative;
  background-color: #eee;
  line-height: 1.7;
  border-color: red blue;
  border-style: solid;
  border-width: 3px;
}

div span{
  position: absolute;
  text-align: center;
  width: 30px;
  height: 24px;
  background-color: blue;
  color: white;
}

.top-left{
  top: -12px;
  left: -15px;
}

.bottom-left{
  left: -15px;
  top: 145px;
}

.top-right{
  left: 425px ;
  top: -12px;
}

.bottom-right{
  left: 425px;
  top: 145px;
}

.top-left,
.bottom-left{
  border-right: 3px solid red;
}

.bottom-right,
.top-right{
   border-left: 3px solid red;
}
************************************8
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CSS</title>
        <link rel="stylesheet" href="css/master.css">
        
    </head>
    <body>
        <div>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod, sed. Ea ipsum
            similique quasi rem, fugiat voluptatibus reiciendis nam debitis earum quo veniam
            laudantium mollitia atque! Laborum ea nam doloribus.
            <span class="top-left">1</span>
            <span class="bottom-left">2</span>
            <span class="top-right">3</span>
            <span class="bottom-right">4</span>
        </div>
</html>
