body {
  font-family: Arial, Helvetica, sans-serif;
}

div{
    font-size: 20px !important;
    text-align: center;
    width: 400px;
    height: 40px;
    margin: auto;
    background-color: #eee !important;
    border: none !important;
    color: transparent !important; 
    
}

div::before {
  content: "Elzero";
  color: black; 
  text-align: center;
  font-weight: bold;
  padding: 50% 40%;
  line-height: 1.5;
}
