body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
}

.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 50px auto;
  display: grid;
  grid-template-rows:  1fr auto ;
  grid-template-columns: auto repeat(2, 1fr) auto;
  gap: 20px 20px;
}

.grid div{
  background-color: rgb(64, 63, 63);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
